

body {
  //font-family: 'Montserrat';
  background-color: $back;
  color: $text;

}

header{
  font-family: 'Montserrat';
}

.roboto{

  font-family: 'Roboto';
  //text-decoration-color: ;
  // textDecorationColor - так оно пишется в инлайн стилях
  //width: 600px;

}


.background-image {
  width: 200px;
  height: 200px;
  background-size: cover;
  //background-image: url('img/brock-wegner.jpg');
  //background-image: url('../img/cat.jpg');
  // учитываем путь после импорта то есть как бы заходить в картинку будем с
  // index.scss
  background-image: url('img/cat.jpg');
}

.container{
  width: 1000px;
  margin: 15px auto;
}

.imgJS {
  margin-top: 24px;
}